.detail-specialty-container {
    padding         : 10px 80px;
    background-color: #eee;
    min-height      : 100vh;

    .detail-specialty-scription {
        background-color: white;
        padding         : 10px;
        margin-bottom   : 20px;
        text-align      : justify;
        box-shadow      : 0px 0px 8px #888888;
        padding-left    : 20px;
        padding-right   : 20px;

        .detail-specialty-name {
            font-size  : 1.8rem;
            font-weight: 600;
            padding    : 10px 0 0 0;
        }

        .detail-specialty-address {
            opacity: 0.7;

            i {
                opacity: 0.7;
            }
        }

        .detail-specialty-content {}

        h3 {
            margin-top: 15px;
            font-size : 1.2rem;
        }
    }

    .detail-specialty-select {
        .detail-specialty-select-province {
            padding      : 5px;
            border-radius: 5px;
            box-shadow   : 0px 0px 8px #888888;

        }
    }

    .detail-specialty-doctor {
        display         : flex;
        flex-direction  : row;
        margin-top      : 20px;
        border          : 1px solid #ddd;
        padding         : 10px;
        box-shadow      : 0px 0px 8px #888888;
        border-radius   : 10px;
        background-color: white;


        .detail-specialty-content-left {
            width        : 50%;
            min-height   : 250px;
            padding-right: 25px;

        }

        .detail-specialty-content-right {
            width       : 50%;
            padding-left: 20px;
            border-left : 1px solid #ddd;

            .detail-specialty-doctor-schedule {
                .doctor-schedule-container {
                    border-right: none;
                }
            }

            .detail-specialty-doctor-inforExtra {
                margin-top : 10px;
                padding-top: 10px;
                border-top : 1px solid #ddd;
            }
        }
    }
}