.btn-range-time {
    margin-top: 30px;
    display   : flex;
    flex-wrap : wrap;
    gap       : 20px;

    button {
        padding: 10px;

        &.active {
            background-color: orange;
        }
    }
}